@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Clear Sans;
        font-weight: 400;
        src: url(/src/app/styles/fonts/clear-sans.regular.ttf);
    }
    @font-face {
        font-family: Clear Sans;
        font-weight: 700;
        src: url(/src/app/styles/fonts/clear-sans.bold.ttf);
    }
}

@layer components {
    .white-text {
        color: #F9F6F2;
    }

    .tile {
        animation: spawn;
        animation-duration: .2s;
    }

    .two {
        background-color: #EEE4DA;
    }

    .four {
        background-color: #EEE1C9;
    }

    .eight {
        background-color: #F3B27A;
    }

    .sixteen {
        background-color: #F69664;
    }
    
    .thirty-two {
        background-color: #F77C5F;
    }
    
    .sixty-four {
        background-color: #F75F3B;
    }
    
    .one-two-eight {
        background-color: #EDD073;
    }

    .two-five-six {
        background-color: #EDCC62;
        box-shadow: 
            0 0 30px 10px rgba(243, 215, 116, 0.545), 
            inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    }

    .five-one-two {
        background-color: #EDC950;
        box-shadow: 
            0 0 30px 10px rgba(243, 215, 116, 0.651), 
            inset 0 0 0 1px rgba(255, 255, 255, 0.296);
    }

    .ten-two-four {
        background-color: #edc53f;
        box-shadow: 
            0 0 30px 10px rgba(243, 215, 116, 0.716), 
            inset 0 0 0 1px rgba(255, 255, 255, 0.285714);
        font-size: 35px !important;
    }

    .twenty-four-eight {
        background-color: #edc22e;
        box-shadow: 
            0 0 30px 10px rgba(243, 215, 116, 0.784), 
            inset 0 0 0 1px rgba(255, 255, 255, 0.333);
        font-size: 35px !important;
    }

    

    @keyframes spawn {
        0% {
            scale: 0;
        }

        100% {
            scale: 1;
        }
    }
}

:root {
    --var-animation-duration: .2s;
}

.merged {
    animation-name: merge;
    animation-delay: .1s;
    animation-duration: .2s;
}

@keyframes merge {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }

    100% {
        scale: 1;
    }
}

.moveX-0-1 {
    animation-name: move-right-one;
    animation-duration: var(--var-animation-duration);
}

.moveX-0-2 {
    animation-name: move-right-two;
    animation-duration: var(--var-animation-duration);
}

.moveX-0-3 {
    animation-name: move-right-three;
    animation-duration: var(--var-animation-duration);
}

.moveX-1-0 {
    animation-name: move-left-one;
    animation-duration: var(--var-animation-duration);
}

.moveX-2-0 {
    animation-name: move-left-two;
    animation-duration: var(--var-animation-duration);
}

.moveX-3-0 {
    animation-name: move-left-three;
    animation-duration: var(--var-animation-duration);
}

.moveX-1-2 {
    animation-name: move-right-one;
    animation-duration: var(--var-animation-duration);
}

.moveX-2-1 {
    animation-name: move-left-one;
    animation-duration: var(--var-animation-duration);
}

.moveX-1-3 {
    animation-name: move-right-two;
    animation-duration: var(--var-animation-duration);
}

.moveX-3-1 {
    animation-name: move-left-two;
    animation-duration: var(--var-animation-duration);
}

.moveX-2-3 {
    animation-name: move-right-one;
    animation-duration: var(--var-animation-duration);
}

.moveX-3-2 {
    animation-name: move-left-one;
    animation-duration: var(--var-animation-duration);
}

.moveY-0-1 {
    animation-name: move-down-one;
    animation-duration: var(--var-animation-duration);
}

.moveY-0-2 {
    animation-name: move-down-two;
    animation-duration: var(--var-animation-duration);
}


.moveY-0-3 {
    animation-name: move-down-three;
    animation-duration: var(--var-animation-duration);
}


.moveY-1-0 {
    animation-name: move-up-one;
    animation-duration: var(--var-animation-duration);
}


.moveY-2-0 {
    animation-name: move-up-two;
    animation-duration: var(--var-animation-duration);
}

.moveY-3-0 {
    animation-name: move-up-three;
    animation-duration: var(--var-animation-duration);
}

.moveY-1-2 {
    animation-name: move-down-one;
    animation-duration: var(--var-animation-duration);
}

.moveY-2-1 {
    animation-name: move-up-one;
    animation-duration: var(--var-animation-duration);
}

.moveY-1-3 {
    animation-name: move-down-two;
    animation-duration: var(--var-animation-duration);
}

.moveY-3-1 {
    animation-name: move-up-two;
    animation-duration: var(--var-animation-duration);
}

.moveY-2-3 {
    animation-name: move-down-one;
    animation-duration: var(--var-animation-duration);
}

.moveY-3-2 {
    animation-name: move-up-one;
    animation-duration: var(--var-animation-duration);
}

@keyframes move-right-one {
    0% {
        translate: -121px 0;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes move-right-two {
    0% {
        translate: -242px 0;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes move-right-three {
    0% {
        translate: -363px 0;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes move-left-one {
    0% {
        translate: 121px 0;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes move-left-two {
    0% {
        translate: 242px 0;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes move-left-three {
    0% {
        translate: 363px 0;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes move-down-one {
    0% {
        translate: 0 -121px;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes move-down-two {
    0% {
        translate: 0 -242px;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes move-down-three {
    0% {
        translate: 0 -363px;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes move-up-one {
    0% {
        translate: 0 121px;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes move-up-two {
    0% {
        translate: 0 242px;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes move-up-three {
    0% {
        translate: 0 363px;
    }

    100% {
        translate: 0 0;
    }
}
